<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">{{title}}</a>
      <button *ngIf="isLogged" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="isLogged" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagination">Pagination</a>
          </li>
        </ul>
      </div>
      <div>
        <i class="fa fa-sign-in" aria-hidden="true" (click)="login()"></i>
        <!-- <a class="nav-link" id="loginBtn" routerLink="/login" (click)="login()">{{loginTitle}}</a> -->
      </div>
    </div>
  </nav>