.nav-link{
    cursor: pointer;
}

#loginBtn{
    background-color: #f39c12;
    color: black;
    padding: 5px 10px;
    margin-left: 10px;
}
#loginBtn:hover{
    background-color: white;
    color: black;
}
i{
    cursor: pointer;
    color:white;
}