img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 80vh;
}
.main-content{
    position: absolute;
    top:30%;
    left:10%;
}
.mt-2{
    color: black;
}
.allCourses{
    text-align: center; /* Centers the text */
    display: block; /* Ensures it behaves like a block element */
    margin: 20px auto; /* Adds spacing and centers horizontally */
    text-decoration: underline;
}
.courses-container {
    display: flex; /* Aligns cards in a row */
    gap: 20px; /* Space between items */
    justify-content: center; /* Centers the cards */
    flex-wrap: wrap; /* Ensures responsiveness */
}

app-courses {
    width: 300px; /* Set a fixed width for each course card */
    flex: 1; /* Allows flexibility while keeping cards aligned */
    max-width: 30%; /* Ensures cards don't become too wide */
   
}